<footer>
    <div class="wrap">
        <p class="copyright">
            Copyright 2021 <a href="http://github.com/eritbh">eritbh</a>
        </p>
        <p class="footer-links">
            <a href="https://npmjs.com/package/yuuko" class="badge">
                <img src="https://img.shields.io/npm/v/yuuko.svg" alt="npm badge">
            </a>
            <a class="svg-icon" href="https://github.com/eritbh/yuuko">
                {% include simpleicons/github.svg %}
            </a>
            <a class="svg-icon" href="https://ko-fi.com/eritbh">
                {% include simpleicons/ko-fi.svg %}
            </a>
        </p>
    </div>
</footer>
