nav {
    margin-bottom: 3px;
    box-shadow: none;
}

.wrap {
    max-width: none;
}

.docs-root {
    display: flex;
    /*height: calc(100vh - 53px);*/
    overflow: hidden;
}

.toc {
    color: #333;
    flex: 0 0 300px;
    background: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: large;
}
.toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.toc li {
    margin-top: 5px;
}
.toc li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
}
.toc li a:hover {
    background: #EEE;
}

/* Nested things */
.toc li ul {
    font-size: small;
}
.toc li li {
    /*background: #DDD;*/
    margin: 0 0 0 10px;
    border-left: 5px solid #EEE;
    /*border-top: 1px solid #FFF;*/
}

main {
    padding: 20px;
    overflow-x: hidden;
}

main h1, main h2, main h3 {
    margin-top: -20px;
    padding-top: 20px;
}
