/* Border between navbar and page content if no header exists */
main:first-child {
    margin-top: 3px;
}

/* Header thing */
header {
    padding: 20px 0;
    color: #FFF;
    text-shadow: 0 1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}
header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 3.8rem;
    line-height: 1;
    /*margin: 0;*/
}
header .details {
    margin: 0;
    line-height: 1.5;
    text-align: right;
}
header .details p {
    /*all: inherit;*/
    margin: 0;
}
header a {
    color: #FFF;
    text-decoration: underline;
}


/* Markdown things */
main h1 { font-weight: bold }
main pre {
    background: #F4F4F5;
    /*border: 1px solid #BBB;*/
    /*border-radius: 2px;*/
    padding: 10px;
}

/* 780px - make things more compact */
@media screen and (max-width: 780px) {
    header h1 { margin: 0 }
}

/* 550px - blockify the header */
@media screen and (max-width: 550px) {
    header .wrap {
        display: block;
    }
    header .details {
        margin-top: .5em;
        text-align: center;
    }
    header .details p { display: inline }
    header .details p:not(:last-child):after {
        content: " \2013  ";
        /*text-decoration: line-through;*/
        /*opacity: 0.5;*/
    }
}
